body {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #b9d9eb;
}

h1.game-title {
  margin-top: 20px;
  font-size: 24px;
  color: #0074D9;
}

.memory-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  perspective: 1000px;
}

.inner {
  display: none;
}

.block.active .inner {
  display: block;
}

.block .inner img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.block .inner {
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.match {
  border: 5px solid green;
}

.no-match {
  border: 5px solid red;
}

#start-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0074D9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 65px;
}

#start-button:hover {
  background-color: #0056b3;
}

#reset-button {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #0074D9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  bottom: 5px;
}

#reset-button:hover {
  background-color: #0056b3;
}

.game-area {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.game-title-left, .game-title-right {
  text-align: center;
  font-size: 16px;
}

.game-title-left {
  margin-right: 10px;
}

.game-title-right {
  margin-left: 10px;
}