body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.memory-game {
  display: flex;
}

.block {
  width: 150px;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  perspective: 1000px;
}

.inner {
  display: none;
}

.block.active .inner {
  display: block;
}

.block .inner img {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.block .inner {
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.match {
  border: 5px solid green;
}

.no-match {
  border: 5px solid red;
}